# Backend (Java project - statrack)
.idea
/statrack/target/
/statrack/mvnw
/statrack/mvnw.cmd
/statrack/.mvn
application.yml

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
statrack/.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Frontend (Next.js)
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# Frontend testing
/frontend/coverage

# Next.js
/frontend/.next/
/frontend/out/

# Production
/frontend/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Miscellaneous
*.pem

# Environment files
frontend/.env.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts